.timerOne {
  background-color: rgb(212, 27, 27);
  filter: drop-shadow(0 0 0.6rem rgb(13, 4, 5));
  color: white;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
